.contact-body {
	padding-left: 100px;
	padding-top: 70px;
}

.container-contact {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.container-contact:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}

.contact-box {
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.contact-h3 {
	color: white;
	font-weight: bold;
	text-align: center;
	padding-top: 20%;

}

.contact-p {
	color: white;
	text-align: center;
}

.left {
	height: 100%;
	background-color: #4e73df;

}

.right {
	padding: 25px 40px;
}

.contact-h2 {
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
	font-weight: bold;
}

.contact-h2:after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	height: 4px;
	width: 50px;
	border-radius: 2px;
	background-color: #4e73df;
}

.field {
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

textarea {
	min-height: 150px;
}

.btn {
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #4e73df;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover {
	background-color: #2752ae;
	color: white;
}

.field:focus {
	border: 2px solid rgba(30, 85, 250, 0.47);
	background-color: #fff;
}

@media screen and (max-width: 880px) {
	.contact-box {
		grid-template-columns: 1fr;
	}

	.left {
		height: 200px;
	}

	.field {
		width: auto;
	}

	.contact-body {
		padding-left: 100px;
	}
}

//
body.dark {
	.left {
		background-color: rgba(0, 0, 0, 0.662);
	}

	.right {
		background-color: #252525;
	}

	.field {
		background-color: #343333;
		color: white;
	}

	.contact-h2 {
		color: white;
	}
}